@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* スクロールバーの表示・非表示でずれるため、常にスクロールバーを表示 */
  @apply overflow-y-scroll;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto', monospace;
}

/* スクロールバー */
::-webkit-scrollbar {
  @apply w-2.5;
}
/* スクロールバーの背景色 */
::-webkit-scrollbar-track {
  @apply rounded-3xl bg-gray-400;
}
/* スクロールバーの色 */
::-webkit-scrollbar-thumb {
  @apply rounded-3xl bg-gray-500;
}

input[type='date']::-webkit-calendar-picker-indicator,
input[type='datetime-local']::-webkit-calendar-picker-indicator,
input[type='month']::-webkit-calendar-picker-indicator {
  @apply cursor-pointer;
}
